<p id="notice"><%= notice %></p>
<% if signed_in? %> 
  <%= render 'form', tweet: @tweet %>
  <br/>
  <h4>People you should be friends with</h4>
  <div class="row row-cols-2 row-cols-lg-4 suggested-friends-top">
    <% current_user.suggested_friends.each do |fr| %>
    <div class="p-2">
      <div class="suggested-friends">
        <%= image_tag(fr.profile_pic, style: 'width:50px; height:50px', class: 'user-picture') %>
        <h5><%= fr %></h5>
        <br>
        <%= link_to(current_user.friends?(fr) ? 'Unfriend' : 'Friend', user_friend_path(fr), method: :post, class: "btn btn-friend btn-sm")  %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
<div class="my-3 tweets-header-outer">
  <span class="display-4">Tweets</span>
  <%= search_form_for @q, class: "form-inline search-bar" do |f| %>
    <%= f.search_field :content_cont, class: "form-control mr-2" %>
    <%= f.submit class: "btn btn-info btn-sm" %>
  <% end %>
</div>
<% if @tweets.any? %>
  <div class="row row-cols-1 row-cols-xl-2">
    <%= render(@tweets) %>
  </div>
<% else %>
  <h5>No results found</h5>
  <p>Please check your search</p>
<% end %>
<div class="my-3"><%= paginate @tweets %></div>
